---
name: stratis-cli CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
      - develop-2.4.1
  pull_request:
    branches:
      - master
      - develop-2.4.1

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  python-checks:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT INTERPRETER
          - dependencies: >
              pylint
              python3-dateutil
              python3-dbus-client-gen
              python3-dbus-python-client-gen
              python3-justbytes
              python3-psutil
              python3-semantic_version
              python3-wcwidth
            image: fedora:33
            task: PYTHONPATH=./src make -f Makefile lint
          - dependencies: black python3-isort
            image: fedora:33
            task: make -f Makefile fmt-ci
          # VERIFICATION OF TEST INFRASTRUCTURE
          - dependencies: yamllint
            image: fedora:33
            task: make -f Makefile yamllint
    runs-on: ubuntu-18.04
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: >
          dnf install -y
          make
          python-unversioned-command
          ${{ matrix.dependencies }}
      - name: Display Python version
        run: python --version
      - name: Run test
        run: ${{ matrix.task }}

  test-runs:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT ENVIRONMENT
          - task: make -f Makefile all-tests
            rust_log: RUST_LOG=libstratis=debug,stratisd=debug
            image: fedora:33
          - task: make -f Makefile coverage-no-html
            rust_log:
            image: fedora:33
          # MANDATORY CHECKS USING LOWEST SUPPORTED ENVIRONMENT PROXY
          - task: make -f Makefile all-tests
            rust_log: RUST_LOG=libstratis=debug,stratisd=debug
            image: fedora:30
    runs-on: ubuntu-18.04
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: >
          dnf install -y
          asciidoc
          clang
          cryptsetup-devel
          dbus-daemon
          dbus-tools
          dbus-devel
          libblkid-devel
          git
          make
          python3-coverage
          python3-dbus-client-gen
          python3-dbus-python-client-gen
          python3-justbytes
          python3-dateutil
          python3-psutil
          python3-semantic_version
          systemd-devel
      - uses: actions-rs/toolchain@v1
        with:
          components: cargo
          toolchain: 1.52.1
          override: true
      - name: Check out stratisd
        run: git clone https://github.com/stratis-storage/stratisd.git
      - name: Switch to relevant branch
        run: |
          git checkout -b mulkieran-issue-project-298 develop-2.4.2
          git pull https://github.com/mulkieran/stratisd.git issue-project-298
        working-directory: ./stratisd
      - name: Build stratisd
        run: PROFILEDIR=debug make install
        working-directory: ./stratisd
      - name: Set up for D-Bus
        run: |
          mkdir -p /var/lib/dbus
          dbus-uuidgen > /var/lib/dbus/machine-id
          mkdir -p /var/run/dbus
      - name: Start D-Bus
        run: >
          dbus-daemon
          --config-file=/usr/share/dbus-1/system.conf
          --print-address
      - name: Run test
        run: >
          ${{ matrix.rust_log }}
          STRATISD=/usr/libexec/stratisd
          PYTHONPATH=./src
          ${{ matrix.task }}
